body {
  background: #58d8e8; /* mudar a cor de fundo do site acontece quando está no body */
  font-family: lato;
}
.menu {
  text-align: right;
  margin-top: 50px;
}
li {
  padding-right: 40px;
  display: inline;
}
a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
a:hover {
  border-top: 3px solid white;
  color: white;
}
